table {
    margin-left: auto;
    margin-right: auto;
}
td {
    
    width: 100px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
td.info {
    border-width: 0px;
    border-radius: 0px;
    width: 125px;
    height: auto;
    padding: 10px;
    vertical-align: top;
}
h2 {
    text-align: center;
}

.ylwbox.light-mode {
    background-color: rgb(230, 193, 109);
    border-color: rgb(141, 131, 77);
    color: rgb(45, 49, 76);
}

.bluebox.light-mode {
    background-color: lightblue;
    border-color: rgb(129, 171, 207);
}

.ylwbox.dark-mode {
    border-color: rgb(230, 193, 109);
    background-color: rgb(141, 131, 77);
    color: aliceblue;
}

.bluebox.dark-mode {
    border-color: lightblue;
    background-color: rgb(129, 171, 207);
    color: aliceblue;
}

body {
    background-color: aliceblue;
}

img {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    object-fit: cover;
}

h1 {
    text-align: center;
}

.dark-mode {
    background-color: rgb(45, 49, 76);
    color: aliceblue;
    transition: 500ms;
}

.light-mode {
    background-color: aliceblue;
    color: rgb(45, 49, 76);
    transition: 500ms;
}