.ylwbox,
.bluebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 10px;

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid black;
}

.ylwbox {
    background-color: yellow;
}

.bluebox {
    background-color: lightblue;
}